@import './_toasts';

blockquote,
i,
.font-italic,
.text-h1.font-italic,
.text-h2.font-italic,
.text-h3.font-italic,
.text-h4.font-italic,
.text-h5.font-italic,
.text-h6.font-italic {
    font-family: 'Reckless', ui-serif, serif !important;
}

html {
    overflow-y: auto;
}

img {
    max-width: 100%;
}